{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== CSS ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'styles/login.css' %}">

    <title>Login form - Nexo Digital</title>
    </head>
    <body>
        <div class="login">
        <form action="" class="login__form">
            <h1 class="login__titulo">Login</h1>
            <div class="login__image-container">
                <img src= "{% static "img/banner_libreria_la_paz.png" %}" alt="image" height="400" width="400" class="login__image">
            </div>
            
            <div class="login__inputs">
                <div class="login__box">
                    <input type="email" placeholder="Usuario" required class="login__input">
                    <i class="ri-mail-fill"></i>
                </div>

                <div class="login__box">
                    <input type="password" placeholder="Contraseña" required class="login__input">
                    <i class="ri-lock-2-fill"></i>
                </div>
            </div>

            <div class="login__check">
                <div class="login__check-box">
                    <input type="checkbox" class="login__check-input" id="user-check">
                    <label for="user-check" class="login__check-label">Recordar usuario</label>
                </div>

                <a href="#" class="login__forgot">Olvidó su contraseña?</a>
            </div>

            <button type="submit" class="login__button">Login</button>

            <div class="login__register">
                No tiene una cuenta? <a href="#">Registrarse</a>
            </div>
        </form>
        </div>
    </body>
</html>